snippet for "for loop using `size_t i`"
for (size_t $1 = 0; $1 < $2; $1++) {
    $0
}
endsnippet

snippet main "define main function with argc/argv"
int main(int argc, char *argv[]) {
    $0

    return EXIT_SUCCESS;
}
endsnippet

snippet mainv "define main function with void"
int main(void) {
    $0

    return EXIT_SUCCESS;
}
endsnippet

snippet fn "define a function"
$1($2) {
    $0
}
endsnippet
