snippet guard "define header guards"
#ifndef $1
#define $1

$0

#endif /* $1 */
endsnippet

snippet nnamespace "define a nested namespace"
namespace $1 {
	$0
} /* namespace $1 */
endsnippet

snippet rule_of_5 "define the 5"
$1(const $1 &other) noexcept = delete;
$1($1 &&other) noexcept = delete;

~$1() noexcept = delete;

auto operator=(const $1 &other) noexcept -> $1 & = delete;
auto operator=($1 &&other) noexcept -> $1 & = delete;
endsnippet
